<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Главная Страница</title>
</head>
<body>
<nav class="nav">
    <div class="container">
        <h1 class="logo"><a href="/">Мебель град</a></h1>
        <ul>
            <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')"><button>AdminPanel</button></a>
            <a href="/catalog"><button>Каталог</button></a>
            <a href="/login" sec:authorize="isAnonymous()"><button>Login</button></a>
            <a href="/logout" sec:authorize="isAuthenticated()"><button>Logout</button></a>
            <h1 th:text="${#authentication.name}" sec:authorize="isAuthenticated()"></h1>
        </ul>
    </div>
</nav>




<div class="hero">
    <div class="container">
    </div>
</div>





<section class="container content">
    <h2>Немного информации о нас</h2>
    <p>
        Один из крупнейших мебельных магазинов СПб.С нами работают более 300 заводов по всему городу.
    </p>
</section>
<script src="/JS/script.js"></script>
</body>
</html>


