<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Sticky Navigation</title>
</head>
<body>
<nav class="nav">
    <div class="container">
        <h1 class="logo"><a>Мебель град</a></h1>
        <ul>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="podderzhka.html">Частые вопросы</a></li>
        </ul>
    </div>
</nav>
<div class="hero">
    <div class="container">
    </div>
</div>
<section class="container content">
    <h2>Немного информации о нас</h2>
    <p>
        Один из крупнейших мебельных магазинов СПб.С нами работают более 300 заводов по всему городу.
    </p>
</section>
<script src="/JS/script.js"></script>
</body>
</html>