<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/reg.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/a.css">
    <link rel="stylesheet" href="/css/test_admin.css">
</head>
<body>
<nav class="nav1">
    <div class="container1" style="height: 125px;">
        <h1 class="logo1"><a href="/" class="link">Мебель град</a></h1>
        <ul>
            <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" class="link"><button class="kkk">AdminPanel</button></a>
            <a href="/catalog" class="link"><button class="kkk">Каталог</button></a>
            <a href="/claim" sec:authorize="hasRole('ROLE_MANAGER')" class="link"><button class="kkk">Запросы на покупку</button></a>
            <a href="/profile" sec:authorize="isAuthenticated()"><button  class="kkk">Мой профиль</button></a>
            <a href="/login" sec:authorize="isAnonymous()" class="link"><button class="kkk">Login</button></a>
            <a href="/logout" sec:authorize="isAuthenticated()" class="link"><button class="kkk">Logout</button></a>
        </ul>
    </div>
</nav>
<div class="overlay">
    <form th:action="@{/registration}" method="POST" modelAttribute="userForm">
        <div class="con">
            <header class="head-form">
                <h2 style="color: white;">Sign Up</h2>
                <p style="color: white;">sign up here</p>
            </header>
            <br>
            <div class="field-set">
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input type="text" name="first_name" class="form-input" placeholder="First Name" autofocus="true">
                <br>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input type="text" name="last_name"  class="form-input" placeholder="Last Name" autofocus="true">
                <br>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input type="text" name="email"  class="form-input" placeholder="Email" autofocus="true">
                <br>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input class="form-input" type="text" name="username" placeholder="Username" required>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input type="password" class="form-input" name="passwordConfirm" placeholder="Confirm your password">
                <br>
                <span th:if="${passwordError}" class="error">Passwords not equals</span>
                <span th:if="${usernameError}" class="error">This username or email already registered</span>
                <br>
                <button class="log-in" type="submit">Sign Up</button>
            </div>

            <div class="other">
                <p align="center" style="color: white;">or</p>
                <p> </p>
                <a href="/login" style=""><button class="btn submits sign-up kkk" type="button">Sign In</button></a>
            </div>
        </div>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>


